body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

/* .card {
    height: 100%;
} */

.jumbotron {
	color: black;
	background-image: url("../img/blue.jpeg");
	background-size: cover;
	text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    img: 100px;
}

.column {
    float: center;
    width: 33.33%;
}
